[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=card_helper
X-Python-2-Compatible=false
Name=Card helper
Comment=Exports outlines and shadows at 200x200 px.
